/* -- Reset --*/
html {
	box-sizing: border-box;
	height: 100vh;
	font-family: 'Helvetica';
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

/* -- Global Styles -- */
body {
	background-color: #FAFAFA;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	background: #1F1EFB;
}

body::-webkit-scrollbar-thumb {
	background-color: #0A0AFA;
	border-radius: 20px;
	border: 3px solid #0D2175;
}

@media (max-width: 1200px) {
	.header-nav {
		max-width: 970px;
	}
}

@media (max-width: 992px) {
	.header-nav {
		max-width: 750px;
	}
	.top-nav a.nav-button {
		display: none;
	}
	.top-nav a.menu-button {
		display: block;
	}
}

@media (max-width: 768px) {
	.header-nav {
		max-width: 526px;
	}
	.menu-button {
		max-width: 100px;
	}
	.title {
		max-width: 280px
	}
	.card {
		max-width: 600px;
	}
}

@media (max-width: 566px) {
	.header-nav {
		max-width: 320px;
		flex-direction: column;
		gap: 0;
		flex-grow: 1;
		justify-content: center;
		align-items: center;
	}
	.title {
		margin-top: 15px;
	}
	.menu-button {
		margin-bottom: 15px;
		max-width: 200px;
	}
	.footer {
		min-height: 100px;
	}
	.header {
		min-height: 140px;
	}
	.card {
		max-width: 400px;
	}
}

@media (max-width: 380px) {
	.card {
		max-width: 250px;
	}
}

/* -- Styles -- */
/* - Header - */
.header {
	width: 100%;
	height: 80px;
	border-bottom: 5px solid #0D2175;
	background-color: #1F1EFB;

	margin-bottom: 30px;
	
	display: flex;
	justify-content: center;
}

.header-nav {
	height: 100%;
	width: 1140px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Title */
.title {
	width: 380px;

	transition: 0.2s all;
}

.title:hover {
	transform: scale(1.2);
	text-shadow: 0 0 10px #FAFAFA;
}

.title a {
	font-family: 'Source Code Pro', monospace;
	text-decoration: none;
	font-size: 25px;
	color: #FAFAFA;
}

/* Menu */
.top-nav {
	display: flex;
	align-items: center;
}

.nav-button {
	color: #FAFAFA;
	font-family: 'Source Code Pro', monospace;
	font-size: 18px;
	text-decoration: none;
	transition: 0.2s;
	display: block;
	text-align: center;
}

.nav-button + .nav-button {
	margin-left: 30px;
}

.nav-button:hover {
	text-shadow: 0 0 10px #FAFAFA;
}

.menu-button {
	width: 200px;

	background-color: #0A0AFA;
	color: #FAFAFA;
	font-family: 'Ubuntu', sans-serif;

	border: 2px solid #FAFAFA;
	border-radius: 15px;

	transition: 0.2s all;

	display: none;
}

.menu-button:hover {
	background-color: #FAFAFA !important;
	color: #1F1EFB !important;

	border: 2px solid #FAFAFA !important;
	border-radius: 15px !important;

	outline: none !important;
	box-shadow: none !important;
}

.menu-button:focus,
.menu-button:active {
	background-color: #0A0AFA !important;
	color: #FAFAFA !important;

	border: 2px solid #FAFAFA !important;
	border-radius: 15px !important;

	outline: none !important;
	box-shadow: none !important;
}

.dropdown-menu {
	width: 200px;

	background-color: #1F1EFB;
	border: 1px solid #FAFAFA;
}

.dropdown-item {
	font-family: 'Ubuntu', sans-serif;
	color: #FAFAFA;
	text-align: center;
}

.dropdown-item:hover {
	background-color: #0A0AFA;

	color: #FAFAFA;
}

.dropdown-divider {
	border: none;
	border-bottom: 1px solid #FAFAFA;
}

/* - Main - */
.main {
	min-height: calc(100vh - 160px);

	display: flex;
	justify-content: center;
}

.wrapper {
	width: 1140px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.page-caption {
	font-family: 'Source Code Pro', monospace;
	font-size: 40px;
	font-weight: 700;

	text-shadow: 0 0 20px #6024AA;

	color: #000;
	background: linear-gradient(45deg, #1F1EFB, #BB2D3B);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.card {
	width: 800px;
	border: 3px solid #0D2175;
	border-radius: 20px;
}

.card-top {
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

	border-bottom: 3px solid #0D2175;
}

.card-middle {
	text-align: center;
	padding: 20px;

	background-color: #1F1EFB;

	font-family: 'Ubuntu', sans-serif;
	color: #FAFAFA;
}
.card-label {
	font-family: 'Source Code Pro', monospace;
	color: #FAFAFA;
	font-weight: 700;
	text-shadow: 0 0 10px #FAFAFA;
}

.card-bottom {
	border-top: 3px solid #0D2175;
	text-align: center;
	height: 50px;
}

.edit-button {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #0A0AFA;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-top: 12px;

	color: #FAFAFA;
	font-weight: 500;
	font-family: 'Source Code Pro', monospace;
	text-decoration: none;

	transition: 0.2s all;
}

.edit-button:hover {
	background-color: #FAFAFA;
	color: #0D2175;
}

/* - Footer - */
.footer {
	background-color: #1F1EFB;
	border-top: 5px solid #0D2175;
	height: 80px;
	width: 100%;

	margin-top: 50px;

	display: flex;
	justify-content: center;
}

.footer-list {
	width: 1140px;

	list-style: none;
}

.footer-list-element {
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
}

.footer-list-element a {
	color: #FAFAFA;
	font-size: 18px;
	transition: 0.2s all;
}

.footer-list-element a:hover {
	text-shadow: 0 0 10px #FAFAFA;
	text-decoration: none;
}
